.CardBody{
    padding: .2rem .5rem;
    background: var(--color-bg-01-);
    border-radius: .5rem;
    color: var(--color-text-02-);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: dm mono;
    text-transform: uppercase;
    gap: .2rem;
    width: fit-content;
}