.Card_container{
    width:clamp(150px, 38vw, 24rem);
    height: clamp(130px, 32vw, 18rem) ;
    position: relative;
}

.Thumbnail_ImgField{
    width: 100%;
    height: 72%;
    position: relative;
    border-radius: .5rem ;
    overflow: hidden;
    display: block;
}

.Thumbnail_ImgField img,.ImgField_Icon_usrPic img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.ImgField_Icon_usrPic{
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
}
.ImgField_Icon_usrPic img{
    border-radius: 50%;
    
}

.feedDetails{
    box-sizing: border-box;
    padding: .5rem .4rem 0 0;
    display: flex;
    gap:.8rem;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
}
.VideoTitle {
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    font-family: math;
    font-size: 17px;
    text-decoration:none;
    color: var(--color-text-02-);
    line-height: 1.2;
}
    

.Popup{
    position: absolute;
    top: 0;
    right: 97%;
    letter-spacing: .9px;
    line-height: 1.2;
    width: 7rem;
    background: var(--color-text-02-);
    font-size: 1rem;
    border-radius: .5rem;
    gap: .3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 72%;
    justify-content: center;
    padding: 0.6rem;
    font-family: "Dm mono";
}

/* transition styles */

.Thumbnail_ImgField:hover{
    border-radius: initial;
    
}

.UserDetails h1 + p{
    cursor:pointer;
}

.Thumbnail_ImgField{
    transition: border-radius 100ms ease-in-out;
}