.SearchPage{
    background-color:var(--yt-spec-base-background);
    height:100%;
    overflow:scroll;
    width: 100%;
    display: flex;
    column-gap: 6.5rem;
    row-gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: center;
    padding:6dvh 12vw;
    box-sizing: border-box;
}

.SearchPage::-webkit-scrollbar{
    display: none;
}