.SearchPage{
    background-color:var(--yt-spec-base-background);
    height:100%;
    padding: 1rem 2rem;
    overflow:scroll;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.SearchPage::-webkit-scrollbar{
    display: none;
}